@charset "utf-8";
/* CSS Document */


html{

	background-image:url(pictures/Ovals.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment:fixed;



}

body{
	width: 960px;
	height: auto;
	background-image: url(pictures/deepimg.jpg);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	margin: 15px auto 15px auto;
	border-radius: 3px;
 	border: 3px outset #666666;

}

header, section, footer{
	width: 900px;
	margin: 15px 30px 15px 30px;
	border-bottom: solid #33FF99;
}
header{
	height: 430px;

}
#mainhead > h1{
	text-align:left;
	width: 750px;
	border-bottom: 4px solid #996666;
	float: right;
	font: 35px "Times New Roman", Times, serif;
	color:#6699CC;
 }
 #mainhead{
 	width: 900px;
	height: 170px;

 }

 #mainhead > img{
 	float:left;

 }
 .subhead{
 	width: 900px;
 	height: 180px;
 }

 hgroup{
 	height: 180px;
 }

 hgroup > h1{
 	text-align: center;
	height: 60px;
	color:#CC6666;
	float:left;
	width: 900px;
	font: 25px "Times New Roman", Times, serif;
	margin-bottom: 10px;
 }

 h2, h3{
 	font: 20px "Times New Roman", Times, serif;
 	width: 550px;
	margin: 10px 10px;
	color: #996600;
	height: 50px;
	float:left;
 }

 #date{
 	width: 300px;
	float:left;
	text-align:center;
 }
 #menu{
	 width: 400px;
	height: 42px;
 }
nav{
	width: 400px;
 	height: 40px;

}

 nav li{
	float:left;
	display:inline;
	margin-left: 2px;
	 
}
nav li:first-child{
	color:#009E73;
	float: left;
	font: 27px "Calisto Mt";

}

nav li:nth-child(2){
	width: 18px;
	float: left;
}

nav li a{
	color: #990099;
	text-decoration:none;
	padding: 3px 3px 3px 3px;
	border: 1px solid #663333;
	border-radius: 4px;
	margin: 0;
	background-color:#669999;
	font: 18px "Times New Roman", Times, serif;

}
nav li a:hover{

	color: #CC3333;
	background: -moz-linear-gradient(top, #009966 70%, #CCCCCC 30%);
	background: -webkit-linear-gradient(bottom, #CCCCCC 30%, #009966 70%);
}

table{
	color: #006699;
	float:left;
	height: 150px;
	background-color: hsla( 200, 50%, 30%, 0.1);
	margin-bottom: 20px;
}
tr, th{
	 text-align:center;
	 background-color: hsla( 150,60%, 40%, 0.4);
}
th{
	font: 24px bold "Calisto MT";
	color: #660066;

}
section{
	height: 500px;

}

article > h1{
	height: 30px;
	color: hsla( 170, 40%, 50%, 0.6);
	text-align:center;
	font: 23px "Broadway";
	margin: 0;
}

article{
	width: 900px;
	height: 210px;

}

.addstudios{
	margin: 5px 5px 5px 0px;
	height: 280px;
	width: 400px;
}

legend{
 
	font: bold 23px "Cooper Black";
	color: #00CC00;
	border: 1px solid;
	text-align: center;
	border-radius: 4px;
	padding: 0;
	margin-bottom: 5px;
	background-color: hsla(230, 50%, 40%, 0.4);

}
 
fieldset{
	width: 370px;
	padding: 5px;
	border: 3px solid #990099;
	margin-left: 5px;
	height: 260px;
}

form{
	width: 400px;
	height: 270px;
}

#options{
	height: 60px;
	margin: 5px;
}

#formboxes{
	height: 110px;
}

#buttons{

	height: 60px;
	margin-bottom: 3px;
}

label{
	color: #996633;
	background-color: hsla(100, 60%, 70%, 0.4);
	padding: 3px;
	border: 1px solid;
	border-radius: 2px;
}

 input{
	margin: 7px;
	background-color: hsla(140, 40%, 50%, 0.3);
 }


footer{
	height: 250px;
	border: none;
}

figure{
	margin: 0;
	width: 900px;
	height: 200px;
}

.box1{
	width: 400px;
	height: 150px;
	float: left;
}

#phone{
	width: 120px;
	height: 85px;
	margin-left: 10px;
	float: left;
}

#phone > img{
	 margin-left: 20px;

}
#phone > p{
	width: 115px;
	color: #33CCCC;
	height: 18px;
	font-size: 15px;
	float: left;
	margin: 0;
}

a > img{
	border: 2px solid  #996699;
	margin-left: 20px;
	border-radius: 4px;
}

#Domicilio{
	width: 85px;
	height: 65px;
	float: left;
	margin: 5px 5px;

}

.box2{
	width: 300px;
	height: 150px;
	float: right;
}


  .box1 > svg{
  	float: left;
	margin-left: 10px;
 }

 .box2 > svg{
 	float: left;
	margin: 0px 25px 0px 25px;
 }

 .box1 > h1{
 	width: 120px;
	height: 30px;
	text-align:center;
	font: bold 20px "Times New Roman", Times, serif;
	margin: 10px 0px 30px 80px;
	border-radius: 4px;
	background:hsla(240, 60%, 30%, 0.4);
	color: #66FF33;
	}

.box2 > h1{
	text-align:center;
	font: bold 20px "Times New Roman", Times, serif;
	width: 120px;
	height: 30px;
 	background:hsla(240, 60%, 30%, 0.4);
	margin: 10px 0px 30px 80px;
	border-radius: 4px;
	color: #66FF33;
}
 #copy{
	width: 900px;
	height: 50px;
	margin: 0;
	font: 24px 'Verdana, Arial, Helvetica, sans-serif';
	color: hsla(250, 80%, 40%, 0.5);
	text-align:center;
 }


/*Media queries*/
/*tabletas
@media only screen and(max-width: 760px and min-width:480px){

	body{
		width: 760px;
		height:auto;
	}

	header{
		width: 760px;
		height:auto;
	}

	section{
		width: 760px;
		height: auto;
	}

	footer{
		width: 760px;
		height: auto;

	}

}
