@charset "utf-8";
/* CSS Document */


html{

	background-image: url(pictures/Steelrings.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

body{
	width: 960px;
	margin: 15px auto 15px auto;
	background-image: url(pictures/deepimg.jpg);
	background-repeat:no-repeat;
	background-size: 960px 100%;
	border:solid;
	border-radius: 2px;
}

header{
	width: 900px;
	height: 400px;
	margin: 15px 30px 15px 30px;
	border-bottom:#669999 2px solid;
}
.mainhead{
 	width: 900px;
	height: 100px;

 }
#mainhead > h1{
  	height: 50px;
	width: 750px;
	margin-top: 50px;
	font: 35px "Times New Roman", Times, serif;
	text-align:left;
	border-bottom: 4px solid #CC9900;
	color: #666699;
	float:left;
}

#mainhead > img{
	float: left;
	margin: 0;
}
#logo{
	float:left;
}
 
 .subhead{
 	width: 900px;
	height: 200px;
 
 }
hgroup{
	width: 900px;
	height: 200px;
	margin-bottom: 10px;
	float:left;

}
/*Datos personales*/
 hgroup > h1{
 	width: 900px;
	color: #666633;
	text-align:center;
 	font: 25px  "Times New Roman", Times, serif;
	height: 40px;
 }

 h2, h3{
 	width: 550px;
	float:left;
	font: 20px "Times New Roman", Times, serif;
	color: #663399;
 
 }

 #date{
 	width: 300px;
 	float:right;
 }

nav{
	float:left;
	width: 350px;
	height: 30px;

}

.menu{
	width: 400px;
	height: 42px;	
 	float: left;

}

nav{
	 
	width: 400px;
	height: 40px;
	
}
nav li:first-child{
	float: left;
	color: #d55e00;

}
nav li:nth-child(2){
	width: 18px;
	float: left;
}

 nav li{
	display: inline;
	width: 70px;
	height: 38px;
	font: 23px "Verdana";
	list-style-type:none;
}
 
nav li a{
	color: #9900CC;
	text-decoration:none;
	padding: 4px 2px 4px 2px;
	border: 1px solid black;
	float: left;
	margin-left:3px;
	border-radius: 3px;
	font: 18px "Times New Roman", Times, serif;
	background-color:#009999;
}
nav li a:hover{
	color: #990000;
	background: -webkit-linear-gradient(top, #3300FF 20% ,#CCCCCC 80%  );
	background: -moz-linear-gradient(top, #3300FF 20% ,#CCCCCC 80%  );
}


section{
	width: 900px;
	height: 380px;
	margin: 15px 30px 15px 30px;
	border-bottom:#669999 2px solid;
}
#cabecera{
	width: 900px;
	height: 100px; 
}
#cabecera > h1{
	text-align:center;
	width: 900px;
	color: #339966;
	font: 25px "Times New Roman", Times, serif;
}
 
#cabecera > h2{
	font-family:"Calisto MT";
	width: 900px;
	margin: 0;
	text-align: center;
}

p > img{
	 float:left;
	 clear:both;
	 border: 5px solid  #CC9900;
	 margin: 0px 5px 3px 0px;
}
 #info{
	width: 900px;
	height: 160px;
	margin: 10px 0px 20px 0px;
	
 }
 
p{
	height: 150px;
	text-align: justify;
	float:left;
	color: #663333;
	margin: 0;
	font: 20px "Verdana, Arial, Helvetica, sans-serif";
}

#Idioms{
	float: left;
	width:100px;
	margin: 10px 5px 5px 3px;
	height: 80px;
}
#Idioms > h3{
	margin: 0;
	font: 23px "Verdana, Arial, Helvetica, sans-serif";
	color: #333399;

}
 ul{
 	width: 130px;
	height: 60px;
	float:left;
	display:block;
	color: #330033;
	margin: 0;

 }
  #idioms ul li a{
  	color:#FF6699;

 }
 section>h3{
 	width: 200px;
	margin-top: 0;
 	color:#0033FF;
 }


footer{
 	width: 900px;
	height: 300px;
	margin: 0px 30px 15px 30px;

}

article{
	height: 70px;

}
figure{
	margin: 0;
	width: 900px;
	height: 240px;
}

.box1{
	width: 400px;
	height: 150px;
	float:left;

}

.box2{
	width: 300px;
	height: 150px;
	float:right;
}

#phone{
	width: 120px;
	height: 85px;
	margin-left: 10px;
	float: left;
}

#phone > img{
	 margin-left: 20px;

}
#phone > p{
	width: 125px;
	color: #33CCCC;
	font: 16px "Cambria Math", Candara, Cambria, Arial;
	height: 18px;
	float: left;
	margin: 0;
}

a > img{
	border: 2px solid  #996699;
	margin-left: 20px;
	border-radius: 4px;
}

#Domicilio{
	width: 85px;
	height: 65px;
	float: left;
	margin: 5px 5px;

}

 .box1 > h1{
 	width: 120px;
	height: 30px;
	text-align:center;
	font: bold 20px "Times New Roman", Times, serif;
	margin: 10px 0px 30px 80px;
	border-radius: 4px; 
	background:hsla(240, 60%, 30%, 0.4);
	color: #66FF33;
	}
	
.box2 > h1{
	text-align:center;
	font: bold 20px "Times New Roman", Times, serif;
	width: 120px;
	height: 30px;
 	background:hsla(240, 60%, 30%, 0.4);
	margin: 10px 0px 30px 80px;
	border-radius: 4px;
	color: #66FF33;
}	

.box1 > svg{
	margin-left: 10px;
	float:left;
}
 .box2 > svg{
	margin-left: 30px;
	float:left;
 }

 #copy{
	width: 900px;
	font: 20px "Times New Roman", Times, serif;
	height: 50px;
	margin: 0;
	text-align:center;
 }
 /*
@media only screen and (min-width: 781px){

	html{
		background-size: 100%;

	}
	body{
		width: 90%;
		background-image:url(pictures/deepimg.jpg);
		background-attachment:fixed;
		background-size:100%;
		height: auto;

	}
	header{
		width: 90%;
		height: auto;

	}
	section{
		width: 90%;
		height: auto;

	}



}

/*Moviles*//*
@media only screen and (max-width:480px){


	html{
	  background-image:url(pictures/Steelrings.jpg);
	  background-size: 480px 100%;
	  background-attachment:fixed;

	}

	body{
		width: 90%;
		height: auto;
		background-image:url(pictures/deepimg.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-attachment: relative;
	}

	header{
		width: 85%;
		height: 400px;
	}

	header h1{
		width: 60%;
		height: 55px;
		font: 14px "Times New Roman", Times, serif;

	}

	img{
		width: 15%;
		height: auto;
	}

	#logo{
		width: 30%;
		height: 30px;
		float: right;
		height: auto;
	}

	hgroup{
		width: 85%;
		height: auto;
		float:left;
		font: 12px "Times New Roman", Times, serif;

	}
	h2, h3{
		width: 90%;
		font: 12px "Times New Roman", Times, serif;
		float:left;
	}

	#date{
		float:left;
		width: 60%;
	}

	nav{
		width: 85%;
	}

	nav li a{
		display:block;
		font: 15px "Times New Roman", Times, serif;
	}

	section{
		width: 85%;
		height: 400px;

	}
	section h1{
		width: 60%;
		height: auto
		font: 14px "Times New Roman", Times, serif;
	}
	p{
		width: 85%;
		height: auto;
		font: 13px "Times New Roman", Times, serif;
	}
	ul{
		float: left;

	}
	footer{
		width: 85%;
		height: 300px;

	}
	.box1{
		width: 85%;
		height: auto;
		float: left;
	}
	.box2{
		width: 85%;
		height: 70px;
		float:left;

	}
	h1{
		width: 50%;
		height: 30px;
		float: left;

	}

	#copy{
		width: 80%;
		height:auto;
		float:left;
		font: 12px "Times New Roman", Times, serif;

	}
}

/*tabletas*//*

@media only screen and ( max-width:780px) and (min-width:481px){

	html{
		width: 100%;
		background-size: 760px 100%;
		background-attachment: fixed;
		background-image:url(pictures/Steelrings.jpg);
	}

	body{
		width: 90%;*/
